{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div>
	<header>
		<div>
			<span>Home</span>
			<span>About</span>
			<span>Contact</span>
		</div>
	</header>
	<br class="divider">
	<div>
		<span>Service</span>
		<span>Privacy</span>
		<span> Clients</span>
	</div>
	<br class="divider">
</div>
{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}